services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - PUBLIC_CONTACT_API_URL=${PUBLIC_CONTACT_API_URL}
    image: portfolio:latest
    container_name: portfolio-kkocot
    restart: always
    tty: true
    stdin_open: true
    networks:
      - common_proxy_network
    expose:
      - "80"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost/health"]
      interval: 30s
      timeout: 3s
      start_period: 5s
      retries: 3
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portfolio.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.portfolio.tls=true"
      - "traefik.http.services.portfolio.loadbalancer.server.port=80"
      - "traefik.http.routers.portfolio.service=portfolio"
      - "traefik.http.routers.portfolio.entrypoints=websecure"
      - "traefik.http.services.portfolio.loadbalancer.healthcheck.path=/health"
      - "traefik.http.services.portfolio.loadbalancer.healthcheck.interval=30s"

networks:
  common_proxy_network:
    external: true
